*
{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans',sans-serif;
}
:root 
{
    --colorDark1:#112DAE;
    --colorDark2:#3F72AF;
    --colorLight1:#DBE2EF;
    --colorLight2:#F9F7F7;
}
.start 
{
    overflow-x: hidden;
    background-image: linear-gradient(160deg,#112d4e 0%,#3f72af 100%);
    width: 100vw;
    height: 100vh;
    color: var(--colorLight1);
}
h1 
{
    text-align: center;
    text-transform: uppercase;
    padding-top:20px;
}
.tab-heading 
{
    width: 90%;
    margin: 0 auto;
    max-width: 550px;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}
.choice 
{
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
}
.choice.currently-tab /*see js if you don't remember*/
{
    background-color:rgba(219, 226, 239, 0.5);
    border-radius: 4px;
}
.container
{
    margin-block:4rem;
}
.button
{
    all: unset;
    font-size: 0.85rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: var(--colorDark2);
    cursor: pointer;
    padding: 10px 30px;
    margin-bottom: 10px;
}
.sub-container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grant-location
{
    display: none;
}
.grant-location.active /*scroll up similar example */
{
    display: flex;
}
.grant-location img /*ye sabh karne se acha id dede*/
{
    margin-bottom: 2rem;
}
.grant-location p:first-of-type
{
    font-size: 1.75rem;
    font-weight: 600;
}
.grant-location p:last-of-type
{
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
}
.loading-buffer
{
    display: none;
}
.loading-buffer.active 
{
    display: flex;
}
.loading-buffer p 
{
    text-transform: uppercase;
}
.your-weather
{
    display: none;
    flex-direction: column;
    align-items: center;
}
.your-weather.active 
{
    display: flex;
}
.your-weather p
{
    font-size: 1.5rem;
    font-weight: 200;
}
.your-weather img 
{
    width: 90px;
    height: 90px;
}
.name 
{
    display: flex;
    align-items: center;
    gap:1rem;
    margin-bottom: 1rem;
}
.name p 
{
    font-size: 2rem;
}
.name img 
{
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.your-weather p[data-temperature]
{
    font-size: 2.75rem;
    font-weight: 700;
}
.parameter-outer
{
    width: 90%;
    display: flex;
    gap: 10px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.parameter
{
    width: 30%;
    max-width: 200px;
    display: flex;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 5px;
    padding: 1rem;
    flex-direction: column;
    gap: 5px 0;
    align-items: center;
}
.parameter img 
{
    width: 50px;
    height: 50px;
}
.parameter p:first-of-type
{
    font-size: 1.15rem;
    font-weight: 600;
    text-transform:uppercase;
}
.parameter p:last-of-type
{
    font-size: 1rem;
    font-weight: 200;
}
.search-form
{
    display: none;
    width: 90%;
    max-width: 800px;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 3rem;
}
.search-form.active 
{
    display: flex;
}
.search-form input 
{
    all: unset;
    width: calc(100% - 80px);
    height: 40px;
    padding: 0 20px;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 10px;
}
.search-form input::placeholder
{
    color: rgba(255, 255, 255, 0.7);
}
.search-form input:focus
{
    outline: 3px solid rgba(255, 255, 255, 0.7);
}
.search-form .button
{
    padding: unset;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-bottom: 1px;
}